<div id="<%= dom_id shelter %>">
  <p>
    <strong>Name:</strong>
    <%= shelter.name %>
  </p>

  <p>
    <strong>Location Address:</strong>
    <%= shelter.location_address %>
  </p>

  <p>
    <strong>Contact Info:</strong>
    <%= shelter.contact_info %>
  </p>

</div>
