<div id="<%= dom_id stock %>">

  <p>
    <strong>Shelter Id:</strong>
    <%= stock.shelter_id %>
  </p>

  <p>
    <strong>Supply Id:</strong>
    <%= stock.supply_id %>
  </p>

  <p>
    <strong>Total Quantity:</strong>
    <%= stock.total_quantity %>
  </p>

</div>
